@charset "UTF-8";

@import './base/colors';

@import './views/common';

@import './vendors/bootstrap';
@import './vendors/font-awesome';
@import './vendors/icomoon';
@import './vendors/simple_form-bootstrap';

@import './pages/authentication';

body {
  overflow: hidden;

  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.6rem;
  -webkit-font-smoothing: antialiased;  

  .landing {
    .ms-road {
      width: 100%;
      height: 100vh;
      
      background-image: asset_url('road.jpg');
      background-size: cover;
      background-position: bottom center;
      background-repeat: no-repeat;
  
      background-attachment: fixed;
      &:after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(8, 82, 141, 0.85);
        z-index: 0;        
      }

      .authentication {
        --authentication-width: 100%;
        --authentication-height: 60vh;
        --authentication-welcome-height: 120px;

        width: var(--authentication-width, 80%);
        height: var(--authentication-height, 60vh);
        margin-top: calc(var(--authentication-height, 300px)/-2);
        margin-left: calc(var(--authentication-width, 70%)/-2);
        
        position: absolute;
        top: 50%;
        left: 50%;        
        z-index: 100;
        background-color: rgba(255, 255, 255,  0.6);
        border-radius: 3px;

        .authentication-container {
          position: relative;
          color: #ffffff;
          width: 100%;
          height: 100%;
          &--left {
            height: 100%;
            width: 40%;
          }
          &--right {
            height: 100%;
            width: 100%;
            border-left: 0.05em solid rgba(8, 82, 141, 0.85);
            position: relative;
            .authentication-container-welcome {
              padding: 1em;
              height: var(--authentication-welcome-height, 120px);
              min-height: var(--authentication-welcome-height, 120px);
              max-height: var(--authentication-welcome-height, 120px);
              h1 {
                font-size: 2rem;
              }
              #typewriter {
                color: #ffffff;
                margin: 0;
                font-size: 1rem;
                &:after{
                  content: '';
                  animation: blink 500ms linear infinite alternate;
                }
                .authentication-container-welcome-message {
                  color: #ffffff;
                }                
              }
            }
            .authentication-container-login {
              padding: 1em;
            }
            .authentication-container-footer {
              height: 50px;
              width: 100%;
              position: absolute;
              bottom: 0;
              padding: 3.5px 1em;
            }
          }
          &--logo {
            width: 100%;
            height: 100%;
            background-image: image_url('logo.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;            
          }
        }
      } 
    }
  }
}

