= favicon_link_tag '/icons/apple-icon-57x57.png', sizes: '57x57', rel: 'apple-touch-icon', type: 'image/png'
= favicon_link_tag '/icons/apple-icon-60x60.png', sizes: '60x60', rel: 'apple-touch-icon', type: 'image/png'
= favicon_link_tag '/icons/apple-icon-72x72.png', sizes: '72x72', rel: 'apple-touch-icon', type: 'image/png'
= favicon_link_tag '/icons/apple-icon-76x76.png', sizes: '76x76', rel: 'apple-touch-icon', type: 'image/png'
= favicon_link_tag '/icons/apple-icon-114x114.png', sizes: '114x114', rel: 'apple-touch-icon', type: 'image/png'
= favicon_link_tag '/icons/apple-icon-120x120.png', sizes: '120x120', rel: 'apple-touch-icon', type: 'image/png'
= favicon_link_tag '/icons/apple-icon-144x144.png', sizes: '144x144', rel: 'apple-touch-icon', type: 'image/png'
= favicon_link_tag '/icons/apple-icon-152x152.png', sizes: '152x152', rel: 'apple-touch-icon', type: 'image/png'
= favicon_link_tag '/icons/apple-icon-180x180.png', sizes: '180x180', rel: 'apple-touch-icon', type: 'image/png'
= favicon_link_tag '/icons/android-icon-192x192.png', sizes: '192x192', rel: 'icon', type: 'image/png'
= favicon_link_tag '/favicon-32x32.png', sizes: '32x32', rel: 'icon', type: 'image/png'
= favicon_link_tag '/favicon-96x96.png', sizes: '96x96', rel: 'icon', type: 'image/png'
= favicon_link_tag '/favicon-16x16.png', sizes: '16x16', rel: 'icon', type: 'image/png'

link[rel='manifest preload' href='/manifest.json']